.userBanner {
    border: 1px solid;
    width: 100%;
    height: 100px;
    background-image: url("https://thumbs.dreamstime.com/b/vivid-banner-background-14755138.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    border-radius: 8px
}