.userBanner {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.avatar {
    padding: 5px;
}

.photo {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.photo img {
    max-width: 100px;
}

.description {
    padding: 5px;
}