.app_wrapper {
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


.app_wrapper_content {
    grid-area: c;
    border: 1px solid #0e6dfd;
    border-radius: 4px;

}







