.dialogs {

}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.dialogs_items {
    padding: 10px;

}

.dialog {

}

.dialog.active {
    color: gold;
}

.messages {
    padding: 10px;

}

.message {

}